<nav class="nav-menu" style="background-color: darkblue; padding: 10px;">
    <ul style="list-style-type: none; margin: 0; padding: 0; display: flex;">
        <li style="margin-right: 20px;">
            <a href="/" style="color: white; text-decoration: none;">Home</a>
        </li>
        <li style="margin-right: 20px;">
            <a href="/products" style="color: white; text-decoration: none;">Products</a>
        </li>
        <li style="margin-right: 20px;">
            <a href="/about" style="color: white; text-decoration: none;">About</a>
        </li>
    </ul>
</nav>
